# fly.toml app configuration file generated for yjs-webrtc-signaling on 2024-10-09T12:13:34+02:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'yjs-webrtc-signaling'
primary_region = 'ams'
kill_signal = 'SIGINT'
kill_timeout = '5s'

[experimental]
  auto_rollback = true

[build]

[http_service]
  internal_port = 1234
  force_https = true
  auto_stop_machines = 'off'
  auto_start_machines = true
  min_machines_running = 1
  processes = ['app']

[http_service.concurrency]
  type = "connections"  # Better for websockets than "requests"
  soft_limit = 200
  hard_limit = 250

# Health checks for websocket server
[[http_service.checks]]
  type = "http"
  interval = "15s"
  timeout = "2s"
  grace_period = "5s"
  method = "GET"
  path = "/"
  protocol = "http"
  tls_skip_verify = false
  headers = {}

[[vm]]
  size = 'shared-cpu-1x'
  memory = '512mb'
  cpu_kind = 'shared'
  cpus = 1

  
